.page-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: var(--page-width);
    margin: 0 auto;
    padding: 20px 0;
}

.page-header__list {
    display: flex;
    flex-flow: row;
    list-style: none;
    width: 30%;
    gap: 10px;
    justify-content: space-between;
}
