.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.home::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.home__spacer {
    flex: 1;
}

.home {
  padding: 1rem;
}

.productos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

h1{
    padding: 50%;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.8); /* fondo blanco con transparencia */
  backdrop-filter: saturate(180%) blur(10px); /* efecto de difuminado del fondo detrás */
}
